<%= simple_form_for ([@hotel, @hotel.comments.build]) do |f| %>
  <p>
  	<strong>Rating: </strong>
  	<%= f.radio_button :localrate, 1.0, :checked => true %>
    <%= f.radio_button :localrate, 2.0 %>
    <%= f.radio_button :localrate, 3.0 %>
    <%= f.radio_button :localrate, 4.0 %>
    <%= f.radio_button :localrate, 5.0 %>
  </p>
  <p><%= f.input :comment %></p>
  <p><%= f.button :submit %></p>
<% end %>