 <div class="EnterPageBg">
 	<div class="contain">
 		<div class="container">
 			<div class="row">
 				<div class="col-md-6 enterDesc">
 					<h2>Make your choice with us</h2>
 					<p>At HOTEL BROWSER, we believe in the power of travel — and in helping you make the most of every trip. With over  million candid traveler reviews, we can help you make the right choice when you shop for hotels attractions.</p>
 				</div>
 				<div class="col-md-6 registrationBlock">
 					<h2>Please Sign In</h2>

 					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 					<div class="form-inputs">
 						<%= f.label :email  %><br>
    					<%= f.email_field :email, required: false, autofocus: true, :class => 'form-control' %> <br>
    					<%= f.label :password %><br>
    					<%= f.password_field :password, required: false, :class => 'form-control'  %> <br>
 						<%= f.check_box :remember_me %>
 						<%= f.label :remember_me %>
 					</div>
 					<div class="form-actions">
 						<%= f.submit "Log in", :class => 'btn btn-success'%>
 						
 					</div>
 					<% end %>

 					<%= render "devise/shared/links" %>
 				</div></div>
 			</div>
 		</div>
 	</div>
