<div class="addHotel">
  <div class="addingForm">
<%= simple_nested_form_for @hotel do |f| %>
  <h1>Adding form</h1>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hotel.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @hotel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
            <div class="form-inputs">
              <%= f.label :title  %><br>
              <%= f.text_field :title, :class => 'form-control', placeholder: "Title of hotel"  %> <br>
              <%= f.label :photo %><br>
              <%= f.file_field:photo,  :class => 'form-control'  %> <br>
            </div>
            <div class="form-inputs">
              <%= f.label :breakfast %>
              <%= f.check_box :breakfast %>
            </div>

  <%= f.simple_fields_for :location do |p|%>
    <p><%= p.input :country, :as => :string , placeholder: "Country" %></p>
    <p><%= p.input :state , placeholder: "State"  %></p>
    <p><%= p.input :city, placeholder: "City"  %></p>
    <p><%= p.input :street, placeholder: "Street"  %></p>
    <p><%= p.input :house, placeholder: "Building"  %></p>
  <% end %>


  
<%= f.button :submit, :class => 'btn btn-success'%>
  <%= link_to 'Return on main page', home_index_path,:class => 'btn btn-light'%>  
<% end %>
</div>
</div>


<% if !@hotel.new_record? %>
<p>IT'S NOT NEW!</p>

<% @hotel.rooms.each do |room| %>
  <p>
   <strong>Type of room: </strong>
   <%= room.roomtype %>
  </p>
  <p>
   <strong>Price per day: </strong>
   <%= room.roomtype %>
  </p>
  <p>
   <strong>Description: </strong>
   <%= room.description %>
  </p>
  <p>
    <%= link_to 'Remove room', [room.hotel, room],
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<h1>Add room: </h1>
<%= simple_form_for ([@hotel, @hotel.rooms.build]) do |f| %>
  <p><%= f.input :roomtype , placeholder: "Room-type"  %></p>
  <p><%= f.input :price %></p>
  <p><%= f.input :description , placeholder: "Description of hotel"  %></p>
  <p><%= f.button :submit, :class => 'btn btn-success' %></p>
<% end %>          


<% end %>
