<div class="addHotel">
  <div class="addingForm">
<%= simple_nested_form_for @hotel do |f| %>
  <h1>Adding form</h1>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hotel.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @hotel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
            <div class="form-inputs">
              <%= f.label :title   %><br>
              <%= f.text_field :title, :class => 'form-control' %> <br>
              <%= f.label :photo %><br>
              <%= f.file_field:photo,  :class => 'form-control'  %> <br>
            </div>






<!--

  <p><%= f.input :title %></p>
  <p><%= f.input :photo %></p>
  <p><strong>Breakfast: </strong><%= f.check_box :breakfast %></p>
-->
  <%= f.simple_fields_for :location do |p|%>
    <p><%= p.input :country, :as => :string%></p>
    <p><%= p.input :state %></p>
    <p><%= p.input :city %></p>
    <p><%= p.input :street %></p>
    <p><%= p.input :house %></p>
  <% end %>

  <p><strong>Basic rating:</strong></p>
  <p >
    <%= f.radio_button :raiting, 1.0 , :checked => true %>
    <%= f.radio_button :raiting, 2.0 %>
    <%= f.radio_button :raiting, 3.0 %>
    <%= f.radio_button :raiting, 4.0 %>
    <%= f.radio_button :raiting, 5.0 %>
  </p>


  <div id="add-rooms">
  <%= f.simple_fields_for :rooms do |ff| %>
  <div class="roomsform">
  <p><%= ff.input :roomtype %></p>
  <p><%= ff.input :price %></p>
  <p><%= ff.input :description %></p>
  </div>
  <% end %>

  <div id="add-room"!>
    <%= f.link_to_add :rooms do%>
    <p><button type="button">Add room</button></p>
    <% end %>
  </div>
  </div>



<%= f.button :submit, :class => 'btn btn-success'%>
  <%= link_to 'Return on main page', home_index_path,:class => 'btn btn-light'%>  
<% end %>
</div>
</div>