<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <title>Hotels</title>
</head>
<body>
  <div class="container">
    <div class="contain">
      <div class="header">
        <div class="row">
          <div class="col-md-2">
            <%=image_tag("logo1.png", alt: "Logo", id: 'logo')%>
          </div> 
          <div class="col-md-8">
            <%= link_to 'Main page', home_index_path %>
            <%= link_to 'All hotels', controller: 'hotels' %>
            <% if user_signed_in? %>
              <%= link_to 'Add hotel', new_hotel_path %>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="col-md-1">
              <span>Welcome, <%= current_user.username %></span>
           </div>
            <div class="col-md-1">
              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'btn btnReg' %>
            </div>
          <% else %>
            <div class="col-md-1">
              <%= link_to 'Sign in', new_user_session_path, :class => 'btn btn-success' %> 
            </div>  
            <div class="col-md-1">
              <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btnReg' %>
            </div>
          <% end%>  
        </div>
      </div>
    </div>
  </div>
  <!-----------------------Top------------------------------------>
  <div class="topHotels">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Hotels</h2>
        </div>
      </div>
      <% @hotels.each do |hotel| %>
        <div class="row">
          <div class="col-md-6"> <%= image_tag hotel.photo.thumb.url %></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h3><%= hotel.title %></h3>
              </div>
            </div>
            <div class="row">
              <div class="rating">
                <% if hotel.comments.any? %>
                <%= (hotel.raiting+hotel.comments.average(:localrate))/2.0 %>
                <% else %>
                <%= hotel.raiting %>
                <% end %>
                <!-- Тут не должно быть возможности нажимать на звезды. Оценку ставим только в отзыве
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Best!">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Good">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Not bad">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Bad">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Worst">1 star</label>
                -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><%= hotel.location.country %>, <%= hotel.location.state %>, <%= hotel.location.city %>
                <%= hotel.location.street %> street, <%= hotel.location.house %> </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <%= link_to 'Show', hotel_path(hotel), :class => 'btn btn-success' %>
                <!--редактирование не работает
                <% if user_signed_in? %>
                  <%= link_to 'Edit', edit_hotel_path(hotel), :class => 'btn btn-success' %>
                <% end %>
                -->
              </div>
            </div>
          </div> 
        </div>
        <hr>
      <% end %>
      <%= paginate @hotels %>
    </div>
  </div>
</div>
</body>
</html>