<p>
  <strong>Name:</strong>
  <%= @hotel.title %>
</p>

<p>
	<strong>Photo:</strong>
	<%= image_tag @hotel.photo.full.url %>
</p>


<p><strong>Location:</strong></p>
<p>Country: <%= @hotel.location.country %></p>
<p>State: <%= @hotel.location.state %></p>
<p>City: <%= @hotel.location.city %></p>
<p>Street: <%= @hotel.location.street %></p>
<p>House: <%= @hotel.location.house %></p>


<% if @hotel.breakfast? %>
  <p><strong>Breakfast: </strong> yes</p>
<% else %>
  <p><string>Breakfast: </string> no</p>
<% end %>


<h2>Comments</h2>
<% @hotel.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user.email %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>
<% end %>


<h2>Add a comment:</h2>
<%= form_with(model: [ @hotel, @hotel.comments.build ], local: true) do |form| %>
  <p><%= form.text_area :comment %></p>
  <p>
    <%= form.submit %>
  </p>
<% end %>



<p><%= link_to 'Edit', edit_hotel_path(@hotel) %></p>
<p><%= link_to 'Return', hotels_path %></p>