<p>
  <strong>Name:</strong>
  <%= @hotel.title %>
</p>

<p>
	<strong>Photo:</strong>
	<%= image_tag @hotel.photo.full.url %>
</p>

<p>
	<strong>Rating: </strong>
	<% if @hotel.comments.any? %>
	<%= @hotel.comments.average(:localrate) %>
	<% else %>
	<%= @hotel.raiting %>
	<% end %>
</p>

<p><strong>Location:</strong></p>
<p>Country: <%= @hotel.location.country %></p>
<p>State: <%= @hotel.location.state %></p>
<p>City: <%= @hotel.location.city %></p>
<p>Street: <%= @hotel.location.street %></p>
<p>House: <%= @hotel.location.house %></p>


<% if @hotel.breakfast? %>
  <p><strong>Breakfast: </strong> yes</p>
<% else %>
  <p><string>Breakfast: </string> no</p>
<% end %>

<!--
<% @hotel.rooms.each do |room| %>
  <p>
    <strong>Type of room:</strong>
    <%= room.roomtype %>
  </p>

  <p>
  	<strong>Price per day:</strong>
  	<%= room.price %>
  </p>
 
  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>
<% end %>
-->





<h2>Comments</h2>
<%= render @hotel.comments %>

<% if user_signed_in? %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<% end %>


<% if user_signed_in? %>
	<p><%= link_to 'Edit', edit_hotel_path(@hotel) %></p>
<% end %>

<p><%= link_to 'Return', hotels_path %></p>