  <div class="contain">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <%=image_tag("logo1.png", alt: "Logo", id: 'logo')%>
          </div> 
          <div class="col-md-8 goTo">
            <%= link_to 'Main page', home_index_path  %>
            <%= link_to 'All hotels', hotels_path %>
            <% if user_signed_in? %>
            <%= link_to 'Add hotel', new_hotel_path %>
            <% end %>
          </div>
          <% if user_signed_in? %>
          <div class="col-md-1">
            <span>Welcome, <%= current_user.username %></span>
          </div>
          <div class="col-md-1">
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'btn btnReg' %>
          </div>
          <% else %>
          <div class="col-md-1">
            <%= link_to 'Sign in', new_user_session_path, :class => 'btn btn-success' %> 
          </div>  
          <div class="col-md-1">
            <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btnReg' %>
          </div>
          <% end%>  
        </div>
      </div>
    </div>
  </div>
  <div class="contain">
   <div class="hotelInfo">
    <h1><%= @hotel.title %></h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>
          <p>
            <div class="raiting">
              <% if @hotel.comments.any? %>
              <%= @hotel.comments.average(:localrate).round(2) %>
              <% else %>
              0.0
              <% end %>
            </div>
          </p>
          <p><strong>Location:</strong></p>
          <p>Country: <%= @hotel.location.country %></p>
          <p>State: <%= @hotel.location.state %></p>
          <p>City: <%= @hotel.location.city %></p>
          <p>Street: <%= @hotel.location.street %></p>
          <p>House: <%= @hotel.location.house %></p>
          <% @hotel.rooms.each do |room| %>
          <strong>Type of room:</strong>
          <%= room.roomtype %>
        </p>

        <p>
          <strong>Price per day:</strong>
          <%= room.price %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= room.description %>
        </p>
        <% end %>

        <div class="includeBreakfast">
          <% if @hotel.breakfast? %>
          <p><strong>Breakfast: </strong> yes</p>
          <% else %>
          <p><string>Breakfast: </string> no</p>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag @hotel.photo.full.url %>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="reviewsMain">
  <div class="contain">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Reviews</h2>
        </div>
      </div>

      <% @hotel.comments.each do |comment| %>
      <div class="row">
        <div class="col-md-6 reviewAuthor ">
         
          <p>
            <strong>Commenter:</strong>
            <p>
              <% if comment.user.photo.url %>
              <%= image_tag comment.user.photo.ava.url %></p>
              <% end %>
            <%= comment.user.username %>
          </p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="raiting">
                <%= comment.localrate %>
              </div>
            </div>
            <div class="col-md-12">
              <strong>Comment:</strong>
              <p class="gray">
              <%= comment.comment %></p>
              <!--Delete comment-->
              <% if current_user && comment.user_id==current_user.id %>
              <p>
                <%= link_to 'Remove review', [comment.hotel, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
              </p>
              <% end %>
              <!--Delete comment-->
              
            </div>
          </div>
        </div>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>


<% if user_signed_in? %>
<div class="writeReview">
  <div class="contain">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="registrationBlock">
            <h1>Review</h1>
            <%= simple_form_for ([@hotel, @hotel.comments.build]) do |f| %>
              <div class="form-group rating">
              <strong>Rating: </strong>
               <%= f.radio_button :localrate, 1.0, :checked => true %>
               <%= f.radio_button :localrate, 2.0 %>
               <%= f.radio_button :localrate, 3.0 %>
               <%= f.radio_button :localrate, 4.0 %>
               <%= f.radio_button :localrate, 5.0 %>
              </div>
              <div class="form-group">
              <p><%= f.input :comment %></p>
              <p><%= f.button :submit, :class => 'btn btn-success' %></p>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 reviewDescr">
          <h2>We need your help</h2>
          <p>You can help us make our service better. Write a review, please</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>


<% if user_signed_in? %>
<p ><%= link_to 'Edit', edit_hotel_path(@hotel), :class => 'btn btn-light' %></p>
<% end %>

<p><%= link_to 'Return on the main page', hotels_path, :class => 'btn btn-light' %></p>